<section class="h-[85vh]">
  <h2 class="text-2xl mb-8">Carrito de compras</h2>
  <div>
    {{#each products.products}}
    {{#if this.product}}
    <div
      class="card card-side border border-primary-color mx-auto flex rounded-md px-2 w-11/12 lg:w-4/5 max-w-[850px] mb-6">
      <div class="basis-3/12 rounded-md flex items-center py-2">
        <img src={{this.product.thumbnails}} alt={{this.product.title}} class="rounded-md max-h-60" />
      </div>
      <div class="card-body basis-9/12 gap-4 mx-auto max-w-[550px]">
        <h2 class="card-title mx-auto">{{this.product.title}}</h2>
        <h4>{{this.product.author}}</h4>
        <h4>${{this.product.price}}</h4>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
  <form action="/carts/{{cid}}/purchase" method="post">
    <button type="submit">Finalizar compra</button>
  </form>
  <form action="/carts/{{cid}}" method="post">
    <button type="submit">Vaciar carrito</button>
  </form>
</section>