<div class="mt-12 rounded-lg border border-primary-color w-fit p-8 mx-auto grid gap-4">
    <h2><b>Nombre:</b> {{user.first_name}}</h2>
    <h2><b>Apellido:</b> {{user.last_name}}</h2>
    <h4><b>Email:</b> {{user.email}}</h4>
    <h4><b>Edad:</b> {{user.age}}</h4>
    <h4><b>Rol</b>: {{user.role}}</h4>
</div>

<a href="/sessions/logout" class="btn btn-sm btn-ghost mt-4 normal-case">Logout</a>