<section>
  <h1 class="text-3xl mb-4">Nuestras Criptos</h1>
  <div class="max-w-[1200px] mx-auto mb-8">
    <div class=" border border-primary-color rounded-lg grid items-center px-4 py-0 h-12">
      {{#if user}}
      <h4>Bienvenido, {{ user.first_name }}</h4>
      {{/if}}
    <form action="/products/category" method="post" class="flex justify-end gap-2 mr-10">
      <select name="category" class="select select-bordered border-primary-color w-fit max-w-xs">
        <option value="" selected>Todas las Criptos</option>
        <option value="Criptomonedas">Criptomonedas</option>
        <option value="Utility Coins">Utility Coins</option>
        <option value="Security Tokens">Security Tokens</option>
        <option value="Stablecoins">Stablecoins</option>
      </select>
      <input type="submit" value="Buscar" class="btn">
    </form>
  </div>

  <div
    class="grid sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-3 gap-10 w-5/6 max-w-[1200px] mx-auto"
  >

    {{#each products.docs}}
      <div class="card border border-primary-color">
        <figure>
          <div class="h-80"><img
              class="h-full"
              src="{{this.thumbnails}}"
              alt="{{this.title}}"
            /></div>
        </figure>
        <div class="card-body">
          <h2 class="card-title text-xl font-bold mx-auto">{{this.title}}</h2>
          <h4 class="text-sm">${{this.price}}</h4>
          <div class="card-actions justify-center mt-4">
            <a href="/products/{{this._id}}" class="btn">Ver detalle</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="my-4">
    {{#if products.hasPrevPage}}
      <a href="{{products.prevLink}}" class="btn">Anterior</a>
    {{/if}}
    {{#if products.hasNextPage}}
      <a href="{{products.nextLink}}" class="btn">Siguiente</a>
    {{/if}}
  </div>
</section>